{% extends './base.html' %}

{% block title %}CPC Backend{% endblock %}

{% block content %}
    <section style="text-align: center; padding: 40px 20px;">
        <h1 style="font-family: 'Oswald', sans-serif; font-size: 3rem; color: #333; margin-bottom: 20px;">Culto al Perro Café</h1>
        <p style="font-size: 1.2rem; color: #555; max-width: 600px; margin: 0 auto;">
            <span style="font-weight: bold; color: #222;">Hola!</span>
        </p>
        <p style="font-size: 1.2rem; color: #555; max-width: 600px; margin: 0 auto;">
             Si quieres visitar el sitio web ó la tienda de Culto al Perro Café, haz clic en el botón de abajo.
        </p>
        <div style="margin-top: 40px;">
            <a href="https://perro.cafe" style="display: inline-block; padding: 10px 20px; font-size: 1rem; color: white; background-color: #444; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
                Ir al Sitio Web
            </a>
        </div>
    </section>
{% endblock %}